/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 400px;
}

.text-center {
  text-align: center;
}

.form-field {
  margin-bottom: 20px;
}

.error-text {
  color: red;
  margin-top: 10px;
}

/* Add any additional styling as needed */
.image{
  width: 30rem;
  margin-top: 15px;
  margin-left: 32rem;
  margin-bottom: -90px;
}
.icon {
  
  
 
  left: 10px;
  color: #019267; /* Adjust the color as needed */
}
